/* Global styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* Navigation styles */
nav {
    background-color: #008000;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Post styles */
.post {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000;
    border: 1px solid #00ff00;
}

.post-content {
    margin-bottom: 10px;
}

.user-details {
    color: #00ff00;
    font-size: 14px;
}

/* Return button styles */
.return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 16px;
    color: #00ff00;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #00ff00;
    border-radius: 5px;
}

.return-button:hover {
    background-color: #00ff00;
    color: #000;
}

/* Profile button styles */
.profile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    color: #00ff00;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #00ff00;
    border-radius: 50%;
}

.profile-button:hover {
    background-color: #00ff00;
    color: #000;
}

a:visited {
    color: #00c700;;
}

a:hover {
    color: #33efd3;;
}

/* Custom list style for ul */
ul {
    list-style-type: none;
    padding-left : 0;
}

ul li:before {
    content: ">";
    color: #00ff00;
    margin-right: 10px;
}

/* Round profile picture */
.user-info-box .profile-picture {
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border-radius: 50%; /* Make it round */
    overflow: hidden; /* Hide overflow */
}

.user-info-box .profile-picture img {
    width: 100%; /* Ensure the image covers the container */
    height: 100%; /* Ensure the image covers the container */
    object-fit: cover; /* Maintain aspect ratio */
}

/* Add New Post form */
.new-post-form {
    border: 1px solid #00ff00; /* Green border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 20px;
}

.new-post-form textarea {
    width: 98%;
    border: none;
    resize: none; /* Prevent resizing */
    font-size: 16px;
    padding: 10px;
    background-color: #000; /* Black background */
    color: #00ff00; /* Green text */
}

.new-post-form textarea::placeholder {
    color: #444; /* Lighter green for placeholder */
}

.new-post-form input[type="submit"] {
    background-color: #00ff00; /* Green button */
    color: black; /* Black text */
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.new-post-form input[type="submit"]:hover {
    background-color: #006400; /* Darker green on hover */
}
