/* Global styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* Navigation styles */
nav {
    background-color: #008000;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Post styles */
.post {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000;
    border: 1px solid #00ff00;
}

.post-content {
    margin-bottom: 10px;
}

.user-details {
    color: #00ff00;
    font-size: 14px;
}

/* Return button styles */
.return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 16px;
    color: #00ff00;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #00ff00;
    border-radius: 5px;
}

.return-button:hover {
    background-color: #00ff00;
    color: #000;
}

/* Profile button styles */
.profile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    color: #00ff00;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #00ff00;
    border-radius: 50%;
}

.profile-button:hover {
    background-color: #00ff00;
    color: #000;
}

a:visited {
    color: #00c700;;
}

a:hover {
    color: #33efd3;;
}

/* Custom list style for ul */
ul {
    list-style-type: none;
}

ul li:before {
    content: ">";
    color: #00ff00;
    margin-right: 10px;
}