<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Em's SoMe</title>
</head>
<body>
<h1>Em's So Me</h1>
<h2>Timeline</h2>
<div th:each="post : ${posts}" class="post">
    <div class="post-content">
        <span th:text="${post.content}"></span>
    </div>
    <div class="user-details">
        <a th:href="@{'/user/' + ${userService.findUserById(post.userId).username}}">
            @<span th:text="${userService.findUserById(post.userId).username}"></span>
        </a>
    </div>
</div>


</body>
</html>
